<% @posts.each do |t| %>
  <div class="blog_post">

    <%= image_tag "#{t.image}", class:"image" %>
    <div class="title"> <%=link_to "#{t.title}", post_path(t) %> </div>
    <div class="time"><%= t.created_at.to_formatted_s(:long_ordinal) %> </div>
    <div class="body"> <%= t.post_body %> </div>
    <%= link_to "Read full post", post_path(t), class:"button" %>

  </div>
<% end %>
